Stying a table is done using the Styler class. <br>
Under-the-hood, the Styler object uses Cascading Style Sheets (CSS)

Referances: <br>
[Table Visualization](https://pandas.pydata.org/docs/user_guide/style.html) <br>
[Blog Post](https://towardsdatascience.com/a-quick-and-easy-guide-to-conditional-formatting-in-pandas-8783035071ee)

In [1]:
import os
import pandas as pd
import jupyter_black

jupyter_black.load()

current_dir = os.path.dirname(os.path.abspath("__file__"))

In [2]:
bond_path = os.path.join(current_dir, "data", "jamesbond.csv")

bond = pd.read_csv(bond_path, index_col="Film")

bond = bond[
    ~((bond.index == "Casino Royale") & (bond["Year"] == 1967))
]  # Dropping the original Casino Royale movie to avoid duplicate indices

bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

### The `format` and `format_index` methods

In [5]:
formatter = {"Box Office": "{:.2f}", "Budget": "{:.2f}", "Bond Actor Salary": "{:.2f}"}

bond.style.format(precision=2).format_index(str.upper, axis=1)

### The `.applymap()` method

Applies a function to the DataFrame element-wise;

In [28]:
def highlight_high_box_office(val):
    if type(val) == float and val >= 550:
        bcolor = "yellow"
        color = "black"
        return f"background-color: {bcolor}; color: {color}"
    return ""


def color_actors(val):
    if type(val) != str:
        return ""

    bcolor = {
        "Roger Moore": "green",
        "Sean Connery": "red",
        "Pierce Brosnan": "blue",
        "Daniel Craig": "black",
        "Timothy Dalton": "BlueViolet",
        "George Lazenby": "CornflowerBlue",
    }

    if val in bcolor.keys():
        return f"background-color: {bcolor[val]}"
    return ""


bond.style.applymap(highlight_high_box_office, subset=["Box Office"]).applymap(
    color_actors, subset=["Actor"]
)

### The `.apply()` Method

Applies a function to the DataFrame row-wise or column-wise.

In [44]:
def highlight_rows(row):
    actor = row["Actor"]

    bcolor = {
        "Roger Moore": "green",
        "Sean Connery": "red",
        "Pierce Brosnan": "blue",
        "Daniel Craig": "black",
        "Timothy Dalton": "BlueViolet",
        "George Lazenby": "CornflowerBlue",
    }

    if actor in bcolor.keys():
        return [f"background-color: {bcolor[actor]}; font-family: Ariel;" for r in row]
    return ""


bond.style.apply(highlight_rows, axis=1)